@charset "utf-8";

/* noto snas 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

/* 공통서식 */
/* 1. 글자모양, 크기, 색상 */
body{
  font-family: 'Noto Sans KR',arial, sans-serif;
  font-size:12px;
  color:#333333;
}

/* 2. 링크 글자모양, 색,  */
a{
  font-family: 'Noto Sans KR',arial, sans-serif;
  font-size:12px;
  color:#333333;
  text-decoration: none; /* 밑줄없음 */
}

/* 3. 서브페이지에 들어갈 공통 UI구성요소의 서식 */

/* 버튼, input, 내비게이션.......... */